<!--begin row 1-->
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
                <p> Highlight 1 </p>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> Highlight 2</p>
            </div>
        </div>
    </div>

    <!--extra col not needed from tutorial-->

    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> Highlight 3 </p>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> Highlight 4 </p>
            </div>
        </div>
    </div>
</div>
