<div class = 'row'>
  <div class = 'col-xs-3'>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>User Info</p>
      </div>
    </div>
  </div>
  <div class = 'col-xs-6'>
    <div class="panel panel-default">
      <div class="panel-body">
    <p>Feed</p>
      </div>
    </div>
  </div>
  <div class = 'col-xs-3'>
    <div class="panel panel-default">
      <div class="panel-body">
    <p>Additonal</p>
      </div>
    </div>
  </div>
</div>
