<!-- <h1>Pages#themes</h1>
<p>Find me in app/views/pa ges/themes.html.erb</p> -->
<div class="row">
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
              <p> Theme 1 </p>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
              <p> Theme 2 </p>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
              <p> Theme 3 </p>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
              <p> Theme 4 </p>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
              <p> Theme 5 </p>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
              <p> Theme 6 </p>
          </div>
      </div>
  </div>
</div>
